<div class="container text-center mt-5">
  <div class="row">
      <div class="col-md-12">
          <div>
              <h1>Oops!</h1>
              <h3>404 Página não encontrada</h3>
              <div>
                Desculpe, ocorreu um erro, a página solicitada não foi encontrada!
              </div>
              <div class="mt-5">
                <a href="#" class="btn btn-outline-primary mr-3"> Home </a>
                <a href="#" class="btn btn-outline-secondary btn-sm">Fale com o suporte </a>
              </div>
          </div>
      </div>
  </div>
</div>